[project]
	description = Java examples
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mohan Chandrasekar (Mohanben)
[access "refs/for/refs/*"]
	read = group user/Mohan Chandrasekar (Mohanben)
	push = group user/Mohan Chandrasekar (Mohanben)
	label-Code-Review = -2..+2 group user/Mohan Chandrasekar (Mohanben)
	label-Verified = -1..+1 group user/Mohan Chandrasekar (Mohanben)
	rebase = group user/Mohan Chandrasekar (Mohanben)
	removeReviewer = group user/Mohan Chandrasekar (Mohanben)
	submit = group user/Mohan Chandrasekar (Mohanben)
[access "refs/heads/*"]
	read = group user/Mohan Chandrasekar (Mohanben)
	create = group user/Mohan Chandrasekar (Mohanben)
	push = +force group user/Mohan Chandrasekar (Mohanben)
	pushMerge = group user/Mohan Chandrasekar (Mohanben)
[access "refs/tags/*"]
	push = group user/Mohan Chandrasekar (Mohanben)
	push = +force group user/Mohan Chandrasekar (Mohanben)
